name: Push workflow

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'

jobs:

  housekeeping:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Perform housekeeping checks
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        source <(curl -sL http://ci.q-ctrl.com)
        ./ci vault login -r ${{ secrets.VAULT_ROLE_ID }} -s ${{ secrets.VAULT_SECRET_ID }}
        ./ci docker run qctrl/ci-images:python-3.7-ci /scripts/housekeeping.sh

  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Python dependencies
      run: |
        source <(curl -sL http://ci.q-ctrl.com)
        ./ci vault login -r ${{ secrets.VAULT_ROLE_ID }} -s ${{ secrets.VAULT_SECRET_ID }}
        ./ci docker run qctrl/ci-images:python-3.7-ci /scripts/install-python-dependencies.sh
    - name: Run Pylint
      run: |
        ./ci docker run qctrl/ci-images:python-3.7-ci poetry run pylint_runner || true
    - name: Run Pylama
      run: |
        ./ci docker run qctrl/ci-images:python-3.7-ci poetry run pylama || true
    - name: Run Markdownlint
      run: |
        ./ci docker run qctrl/ci-images:python-3.7-ci mdl -- -ig . || true

  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Install Python dependencies
      run: |
        source <(curl -sL http://ci.q-ctrl.com)
        ./ci vault login -r ${{ secrets.VAULT_ROLE_ID }} -s ${{ secrets.VAULT_SECRET_ID }}
        ./ci docker run qctrl/ci-images:python-${{ matrix.python }}-ci /scripts/install-python-dependencies.sh
    - name: Run Pytest
      run: |
        ./ci docker run qctrl/ci-images:python-${{ matrix.python }}-ci /scripts/pytest.sh

  publish_internally:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Publish development version
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        source <(curl -sL http://ci.q-ctrl.com)
        ./ci vault login -r ${{ secrets.VAULT_ROLE_ID }} -s ${{ secrets.VAULT_SECRET_ID }}
        ./ci docker run qctrl/ci-images:python-3.7-ci /scripts/publish-dev-version.sh
